# MySQL
MYSQL_DSN=root:123456@tcp(localhost:3306)/octopus?charset=utf8mb4&parseTime=True&loc=Local

# Redis
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=

# etcd
ETCD_ENDPOINT=localhost:2379
ETCD_USERNAME=
ETCD_PASSWORD=
